{% extends "admin/layout_admin.html.twig" %}

{% block content %}
    <form class="form" method="post" action="{{ path('admin_login_check') }}">

        <div class="header header-primary text-center">
            <h4>Connectez-vous</h4>
        </div>
        <div class="content">

            <div class="input-group">
                <input type="text" class="form-control" name="_username" value="{{ last_username }}" placeholder="User Name...">
            </div>

            <div class="input-group">
                <input type="password" name="_password" value="" placeholder="Password..." class="form-control" />
            </div>  
        </div>
        <div class="footer text-center">
            {% if error %}
                <div class="alert alert-danger">{{ error | trans }}</div>
            {% endif %}
            <input type="submit" value="Se connecter" class="btn btn-simple btn-primary btn-lg" />
        </div>
    </form>

{% endblock %}